.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 300px;
}
.count{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
.color{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_black{
  background-color: black;
}
.color_blue{
  background-color: blue;
}
.color h3{
  color: white;
  margin-left: 30px;
}